<div id="home_container">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead mb-auto">
    <div class="inner">
    </div>
  </header>

  <main role="main" class="inner cover">
    <img _ngcontent-c1="" alt="" src="/assets/front_page_logo@3x.svg" width="80px" style="opacity: 0.2; margin: 20px;">
    <h1 class="cover-heading">Blockchain Patientendossier</h1>
    <p class="lead">Für unsere Matura Arbeit haben wir einen Prototyp entwickelt. Durch asymmetrische Verschlüsselung soll ein Lösungsansatz für ein blockchain basiertes EPD aufgezeigt werden.</p>
    <p class="lead">
      <a [routerLink]="['/epds']" class="btn btn-lg btn-secondary">Hands on!</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="mailto:noethiger.mike@gmail.com" target="_top">Mike Nöthiger</a> & <a href="mailto:ga.solongoo@gmail.com" target="_top">Solongoo Gantulga</a></p>
    </div>
  </footer>
</div>
</div>
