<div id="home_container">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center">
  <header class="masthead mb-auto">
    <div class="inner">
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Blockchain Patientendossier</h1>
    <p class="lead">Für unsere Matura Arbeit haben einen Prototyp entwickelt. Durch asymmetrische Verschlüsselung soll ein Lösungsansatz für ein blockchainbasiertes EPD aufgezeigt werden.</p>
    <p class="lead">
      <a [routerLink]="['/epds']" class="btn btn-lg btn-secondary">Hands on!</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p><a href="mailto:noethiger.mike@gmail.com" target="_top">Mike Nöthiger</a> & <a href="mailto:ga.solongoo@gmail.com" target="_top">Solongoo Gantulga</a></p>
    </div>
  </footer>
</div>
</div>
